<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="/src/main/resources/static/assets/css/style.css"/>

    <title>CRUD do Fluvu</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"/>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
  </head>

  <body>
    
    <div class="container">
      
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Sistema do Fluvu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--fim Navbar-->

      <div class="row">
        <div class="col-lg-3">
          <a th:href="@{/centrais/cadastro}" class="btn btn-primary" btn-sm mb-3 >Cadastrar</a>
        </div>
      </div>

      <br>

      <!--Tabela Central-->
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Cnpj</th>
            <th scope="col">Ação</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each = "central:${centrais}">
            <td th:text= "${central.id}"></td>
            <td th:text= "${central.Nome}"></td>
            <td th:text= "${central.Cnpj}"></td>
            <td th:text= "${central.Acao}"></td>
          
            <td>
              <a th:href="@{/centrais/editar/{id} (id=${central.id})}" class="btn btn-secondary btn-sm mb-3">Editar</a>
              <a th:href="@{/centrais/excluir/{id} (id=${central.id})}" class="btn btn-info btn-danger btn-sm mb-3">Excluir</a>
            </td>

          </tr>
        </tbody>
      </table>
      <!--fim Tabela Central-->

      
      
    </div>
    

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
